 * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #daf7f8;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 20px;
            font-family:monospace;
        }

        h1 {
            margin-bottom: 30px;
            text-align: center;
        }

    
        .flex-container {
            display: flex;             
            flex-wrap: wrap;            
            justify-content: center;    
            align-items: center;       
            gap: 20px;                  
            max-width: 1100px;

        }

      
        .flex-item {
            flex: 1 1 350px;      
            max-width: 300px;
            background-color: #ffffff;
            border-radius: 10px;       
            box-shadow: 10px 10px 8px rgba(198, 4, 4, 0.08); 
            overflow: hidden;
            text-align: center;
            transition: transform 0.1s ease;
        }

        .flex-item:hover {
            transform: scale(1.05); 
            background-color:rgb(202, 255, 237);
        }

        .flex-item img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .flex-item h3 {
            padding: 15px;
        }

  
        @media (max-width: 600px) {
            .flex-item {
                flex: 1 1 100%;
            }
        }

